/*
 * ZMK keymap for Kinesis Advantage360 Pro
 *
 * Layer model:
 *   0 BASE     typing + positional home-row mods tuned for lower latency
 *   1 NAV      movement, selection, deletion, text management
 *   2 SYM      coding symbols and delimiters
 *   3 NUM      numpad + function keys
 *   4 WM       GlazeWM focus/manage layer
 *   5 SYS      keyboard system controls
 *   6 WMSEND   absolute workspace-send overlay
 *
 * Thumb model:
 *   BSPC hold -> SYM
 *   DEL  hold -> NUM
 *   ESC  hold -> SYS
 *   ENTER hold -> WM
 *   SPACE hold -> NAV
 *
 * WM model:
 *   number row       -> primary workspaces 1-10
 *   QWERT / YUIOP    -> top / right monitor workspaces
 *   HJKL             -> focus left/down/up/right
 *   NM,.             -> move left/down/up/right
 *   inner 4-key hub  -> resize left/down/up/right
 *   ZXCV             -> send window to visible workspace in that direction
 *   left thumb send  -> absolute move-to-workspace overlay
 *
 * Typing behavior:
 *   Left/right home-row mods use positional hold-taps to reduce same-hand
 *   misfires and cut perceived typing lag.
 *   Thumb layer-taps are shorter and resolve taps faster after normal typing.
 *
 * Windows safety:
 *   GUI is removed from home-row mods.
 *   LGUI/RGUI live on the inner top keys instead of the typing path.
 *   The WM path uses only F13-F24 and modifier combinations.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_LEFT";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <110>;
            flavor = "balanced";
            hold-trigger-key-positions = <
                7 8 9 10 11 12 13 21 22 23 24 25 26 27 36 37 38 39 40 41 42 43 44 45
                52 53 54 55 56 57 58 59 68 69 70 71 72 73 74 75
            >;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_RIGHT";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <110>;
            flavor = "balanced";
            hold-trigger-key-positions = <
                0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 35
                46 47 48 49 50 51 60 61 62 63 64 65 66 67
            >;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        th: thumb_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LAYER_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <120>;
            require-prior-idle-ms = <85>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL  &kp N1       &kp N2       &kp N3       &kp N4       &kp N5    &kp F11                                                        &kp F12      &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &kp MINUS
&kp ESC    &kp Q        &kp W        &kp E        &kp R        &kp T     &kp LGUI                                                       &kp RGUI     &kp Y        &kp U        &kp I        &kp O        &kp P        &kp BSLH
&kp TAB    &kp A        &hml LALT S  &hml LCTRL D &hml LSHFT F &kp G     &kp LCTRL    &kp LALT     &kp ESC       &kp ENTER    &kp RALT     &kp RCTRL    &kp H        &hmr RSHFT J &hmr RCTRL K &hmr RALT L  &kp SEMI      &kp SQT
&kp LSHFT  &kp Z        &kp X        &kp C        &kp V        &kp B                               &th 5 ESC      &kp PG_UP                               &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH     &kp RSHFT
&kp GRAVE  &kp LBKT     &kp RBKT     &kp LEFT     &kp RIGHT              &th 2 BSPC    &th 3 DEL    &kp TAB      &kp PG_DN    &th 4 ENTER   &th 1 SPACE              &kp UP       &kp DOWN     &kp LBRC     &kp RBRC     &kp PIPE
            >;
        };

        layer_nav {
            bindings = <
&kp EQUAL  &kp N1            &kp N2               &kp N3              &kp N4               &kp N5              &kp F11                                                     &kp F12            &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &kp MINUS
&kp ESC    &kp K_FIND        &kp LC(LS(TAB))      &kp LC(TAB)         &kp K_UNDO           &kp K_REDO          &kp LGUI                                                    &kp RGUI           &kp LA(LEFT)   &kp LC(PG_UP)  &kp LC(PG_DN)  &kp LA(RIGHT)  &kp DEL        &kp BSLH
&kp TAB    &kp HOME          &kp LC(LEFT)         &kp LC(RIGHT)       &kp END              &kp LC(BSPC)        &kp LCTRL    &kp LSHFT    &kp LALT      &kp RALT     &kp RSHFT    &kp RCTRL    &kp LC(DEL)   &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &kp SQT
&kp LSHFT  &kp LS(HOME)      &kp LC(LS(LEFT))     &kp LC(LS(RIGHT))   &kp LS(END)          &kp BSPC                               &kp ESC     &kp PG_UP                               &kp DEL         &kp LS(LEFT)  &kp LS(DOWN)  &kp LS(UP)     &kp LS(RIGHT)  &kp RSHFT
&kp GRAVE  &kp LBKT          &kp RBKT             &kp LEFT            &kp RIGHT                     &kp DEL         &kp BSPC     &kp TAB      &kp ENTER    &kp ENTER     &kp SPACE                  &kp PG_UP     &kp PG_DN     &kp LBRC      &kp RBRC      &kp PIPE
            >;
        };

        layer_sym {
            bindings = <
&kp EQUAL  &kp F1       &kp F2       &kp F3      &kp F4      &kp F5      &kp F11                                                        &kp F12        &kp F6       &kp F7      &kp F8      &kp F9      &kp F10      &kp MINUS
&kp ESC    &kp EXCL     &kp AT       &kp HASH    &kp DLLR    &kp PRCNT   &kp LGUI                                                       &kp RGUI       &kp CARET    &kp AMPS    &kp STAR    &kp QMARK   &kp TILDE    &kp BSLH
&kp TAB    &kp LPAR     &kp LBKT     &kp LBRC    &kp LT      &kp GRAVE   &kp UNDER   &kp PLUS   &kp COLON   &kp SEMI    &kp MINUS   &kp EQUAL   &kp GT       &kp RBRC    &kp RBKT    &kp RPAR    &kp PIPE      &kp BSLH
&kp LSHFT  &kp UNDER    &kp MINUS    &kp EQUAL   &kp PLUS    &kp QMARK                          &kp TAB        &kp LS(TAB)                           &kp SQT      &kp FSLH    &kp BSLH    &kp COLON   &kp SEMI     &kp RSHFT
&kp GRAVE  &kp LBKT     &kp RBKT     &kp LBRC    &kp RBRC             &kp BSPC      &kp DEL     &kp TAB      &kp LS(TAB) &kp ENTER     &kp SPACE                 &kp PIPE     &kp BSLH     &kp LT        &kp GT        &kp TILDE
            >;
        };

        layer_num {
            bindings = <
&kp EQUAL  &kp F1       &kp F2          &kp F3          &kp F4         &kp F5         &kp F6                                                         &kp F7        &kp F8       &kp F9       &kp F10      &kp F11      &kp F12         &kp MINUS
&kp ESC    &kp Q        &kp W           &kp E           &kp R          &kp T          &kp LGUI                                                       &kp RGUI      &kp N7       &kp N8       &kp N9       &kp KP_MINUS &kp KP_MULTIPLY &kp KP_SLASH
&kp TAB    &kp KP_MINUS &kp KP_PLUS     &kp KP_MULTIPLY &kp KP_SLASH   &kp EQUAL      &kp LCTRL    &kp LALT     &kp ESC      &kp ENTER    &kp RALT     &kp RCTRL    &kp BSPC      &kp N4       &kp N5       &kp N6       &kp KP_PLUS     &kp ENTER
&kp LSHFT  &kp Z        &kp X           &kp C           &kp V          &kp B                                &kp ESC       &kp PG_UP                               &kp N1       &kp N2       &kp N3       &kp N0       &kp DOT         &kp RSHFT
&kp GRAVE  &kp LBKT     &kp RBKT        &kp LEFT        &kp RIGHT                &kp BSPC      &kp DEL     &kp TAB      &kp PG_DN    &kp ENTER     &kp SPACE                 &kp UP       &kp DOWN     &kp LBRC      &kp RBRC        &kp PIPE
            >;
        };

        layer_wm {
            bindings = <
&kp LC(LA(F21))     &kp F13              &kp F14              &kp F15              &kp F16              &kp F17              &kp LC(LA(F22))                                           &kp LC(LA(LS(F21)))  &kp F18              &kp F19              &kp F20              &kp F21              &kp F22              &kp LC(LA(LS(F22)))
&kp LC(LS(F24))     &kp LC(F13)          &kp LC(F14)          &kp LC(F15)          &kp LC(F16)          &kp LC(F17)          &kp LS(F24)                                                &kp LA(LS(F24))      &kp LA(F13)          &kp LA(F14)          &kp LA(F15)          &kp LA(F16)          &kp LA(F17)          &kp F24
&kp LC(F23)         &kp F23              &kp LA(F23)          &kp LS(F23)          &kp LC(LS(F23))      &kp LA(LS(F23))      &kp LC(LA(F17)) &kp LC(LA(F18)) &kp LC(LA(F19)) &kp LC(LA(F20)) &kp LC(LA(F23)) &kp LC(LA(LS(F23))) &kp LC(LA(F13)) &kp LC(LA(F14)) &kp LC(LA(F15)) &kp LC(LA(F16)) &kp LC(F24)         &kp LA(F24)
&mo 6               &kp LC(LA(LS(F17)))  &kp LC(LA(LS(F18)))  &kp LC(LA(LS(F19)))  &kp LC(LA(LS(F20)))  &kp LC(LA(F21))                           &kp LC(LA(F22))     &kp LC(LA(LS(F21)))                         &kp LC(LA(LS(F13))) &kp LC(LA(LS(F14))) &kp LC(LA(LS(F15))) &kp LC(LA(LS(F16))) &kp LC(F24)       &kp F24
&kp LC(F23)         &kp F23              &kp LA(F23)          &kp LC(LA(F21))      &kp LC(LA(LS(F21)))           &mo 6         &kp F24      &kp LS(F24)   &kp LC(F24)   &kp LA(F24)     &kp LC(LA(LS(F22)))         &kp LC(LA(F22)) &kp LC(LA(F21)) &kp LC(LA(LS(F21))) &kp LC(LA(F23))  &kp LC(LA(LS(F23)))
            >;
        };

        layer_sys {
            bindings = <
&kp ESC    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_CLR                                               &bootloader        &kp C_PREV        &kp C_PP          &kp C_NEXT         &kp C_MUTE     &kp C_VOL_DN   &kp C_VOL_UP
&kp TAB    &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_EFR &bl BL_CYCLE   &bl BL_INC     &bl BL_DEC                                               &kp PRINTSCREEN    &kp K_CONTEXT_MENU &kp C_BRI_DN      &kp C_BRI_UP       &bl BL_ON      &bl BL_OFF     &kp KP_NUMLOCK
&kp LSHFT  &kp C_PREV     &kp C_PP       &kp C_NEXT      &kp C_MUTE      &kp C_VOL_DN   &kp LCTRL    &kp LALT     &kp ESC      &kp ENTER    &kp RALT     &kp RCTRL    &kp C_VOL_UP      &kp C_BRI_DN      &kp C_BRI_UP      &rgb_ug RGB_BRD &rgb_ug RGB_BRI &kp RSHFT
&kp LSHFT  &kp PRINTSCREEN &kp K_CONTEXT_MENU &kp C_PREV  &kp C_PP        &kp C_NEXT                              &kp C_BRI_DN    &kp C_BRI_UP                          &kp C_MUTE         &kp C_VOL_DN       &kp C_VOL_UP       &rgb_ug RGB_TOG &bl BL_CYCLE   &kp RSHFT
&kp GRAVE  &kp LBKT       &kp RBKT       &kp LEFT        &kp RIGHT                 &kp C_VOL_DN  &kp C_BRI_DN &kp TAB      &kp PG_DN    &kp ENTER     &kp C_BRI_UP               &kp C_VOL_UP      &kp DOWN           &kp K_CONTEXT_MENU &kp PRINTSCREEN &kp PIPE
            >;
        };

        layer_wm_send {
            bindings = <
&kp LS(F23)         &kp LS(F13)         &kp LS(F14)         &kp LS(F15)         &kp LS(F16)         &kp LS(F17)         &kp LC(LA(LS(F19)))                                     &kp LC(LA(LS(F20))) &kp LS(F18)         &kp LS(F19)         &kp LS(F20)         &kp LS(F21)         &kp LS(F22)         &kp LC(LS(F23))
&kp LA(LS(F23))     &kp LC(LS(F13))     &kp LC(LS(F14))     &kp LC(LS(F15))     &kp LC(LS(F16))     &kp LC(LS(F17))     &kp LC(LA(LS(F17)))                                     &kp LC(LA(LS(F18))) &kp LA(LS(F13))     &kp LA(LS(F14))     &kp LA(LS(F15))     &kp LA(LS(F16))     &kp LA(LS(F17))     &kp LS(F23)
&kp LC(LS(F23))     &kp LS(F23)         &kp LA(LS(F23))     &kp LC(LA(LS(F17))) &kp LC(LA(LS(F19))) &kp LC(LA(LS(F20))) &kp LC(LA(LS(F17))) &kp LC(LA(LS(F18))) &kp LC(LA(LS(F19))) &kp LC(LA(LS(F20))) &kp F24             &kp LS(F24)         &kp LC(LA(LS(F17))) &kp LC(LA(LS(F18))) &kp LC(LA(LS(F19))) &kp LC(LA(LS(F20))) &kp LC(F24)         &kp LA(F24)
&mo 6               &kp LC(LA(LS(F17))) &kp LC(LA(LS(F18))) &kp LC(LA(LS(F19))) &kp LC(LA(LS(F20))) &kp LS(F23)                            &kp LC(F24)        &kp LA(F24)                              &kp LC(LA(LS(F17))) &kp LC(LA(LS(F18))) &kp LC(LA(LS(F19))) &kp LC(LA(LS(F20))) &kp F24            &kp LS(F24)
&kp LS(F23)         &kp LC(LS(F23))     &kp LA(LS(F23))     &kp LC(LA(LS(F17))) &kp LC(LA(LS(F20)))        &mo 6         &kp F24      &kp LS(F24)   &kp LC(F24)   &kp LA(F24)     &mo 6                           &kp LC(LA(LS(F17))) &kp LC(LA(LS(F18))) &kp LC(LA(LS(F19))) &kp LC(LA(LS(F20))) &kp LS(F23)
            >;
        };
    };
};
